<a href="https://colab.research.google.com/github/markynsai91/Titanic-Data-Analysis-Project/blob/main/Titanic_End_to_end_DA_project_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titanic - Data Analytics
##Project Summary

This project explores the factors that influenced passenger survival during the Titanic disaster using data analysis and visualization in Python. The analysis focused on understanding how passenger class and age affected survival outcomes to draw insights that could inform fairer ship design and emergency planning.
I cleaned and prepared the dataset using Pandas, handled missing values with mean imputation, and created an age_category column to group passengers into Children (0–14), Youth & Adults (15–64), and Seniors (65+). Visualizations were built to compare survival counts and rates across passenger classes and age groups.
The findings showed a clear class-based disparity in survival rates, with first-class passengers having significantly higher survival chances. Children had a higher likelihood of survival compared to adults and seniors, revealing patterns of vulnerability that could inform better safety design in future maritime planning.
Tools Used: Python (Pandas, NumPy, Matplotlib), Jupyter Notebook, Excel

##Project Goals



**Goal**:See if survival rate had anything to do with the passenger class, Also assess the age of the passengers within each class to identify vulnerable age categories.

**Visualisation**
(bar, pie, column etc.):

<figure>
  <left>
    <img src='https://drive.google.com/uc?export=view&id=15fIbp6qRXgfL6vHfpkPkIG4zCv15qxiD' width='400'/>
    <figcaption>Popular types of visuals</figcaption>
  </left>
</figure>

- Bar plot 1
  - Numeric Column and aggregation :Survived - sum
  - Categorical column - Class
  - Actve filters: Age

- Bar Plot 2:
  - Numeric Column and aggregation :Survived - Percentage
  - Categorical column - Class
  - Actve filters: Age

- Bar Plot 3:
   - Numeric Column and aggregation :Survived - Percentage
  - Categorical column - Class
   - Categorical column - Age (Children, Adults, Seniors)
  - Actve filters: None

### Data Preperation
In this step, the Titanic dataset is downloaded, cleaned, and prepared for analysis. The process begins by retrieving the dataset from Google Drive using the gdown library, then loading it into a Pandas DataFrame for inspection and preprocessing.

Next, the data is stored in a SQLite database, enabling the use of SQL queries directly within the Jupyter Notebook. By loading the SQL extension with %load_ext sql and connecting to the database using %sql, the environment allows for both Python-based and SQL-based data exploration.

This setup provides a structured and flexible workspace where Python and SQL can be used together to analyze, query, and visualize the Titanic dataset effectively in later stages of the project.

In [ ]:
import pandas as pd
import numpy as np
import gdown

# File ID from the Google Drive link
file_id = '15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C'

download_url = f'https://drive.google.com/uc?id={file_id}'

# Download the file
output_file = 'downloaded_file.csv'
gdown.download(download_url, output_file, quiet=False)

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(output_file)

# Assuming ipython-sql is installed
%load_ext sql

# Use a file-based SQLite database
database_filename = 'my_database.db'
df.to_sql('titanic_data', f'sqlite:///{database_filename}', if_exists='replace', index=False)

# Now connect ipython-sql to the same file-based database
%sql sqlite:///my_database.db

# ATTENTION:
#there was a change behind the SQL functionality used here in Jupyter Notebook.
#We need to add this code to fix it
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

Downloading...
From: https://drive.google.com/uc?id=15cFsnPnHc7KlzV0C9QQ5wG5v8PWqJ65C
To: /content/downloaded_file.csv
100%|██████████| 61.2k/61.2k [00:00<00:00, 29.0MB/s]

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
#@title Step 2. SQL — Query the data
# Query the data to see if it works
project_data= %sql SELECT Survived, Pclass, Age FROM titanic_data

 * sqlite:///my_database.db
Done.

Data description
<table>
<tbody>
<tr><th><b>Variable</b></th><th><b>Definition</b></th><th><b>Key</b></th></tr>
<tr>
<td>survival</td>
<td>Survival</td>
<td>0 = No, 1 = Yes</td>
</tr>
<tr>
<td>pclass</td>
<td>Ticket class</td>
<td>1 = 1st, 2 = 2nd, 3 = 3rd</td>
</tr>
<tr>
<td>sex</td>
<td>Sex</td>
<td></td>
</tr>
<tr>
<td>Age</td>
<td>Age in years</td>
<td></td>
</tr>
<tr>
<td>sibsp</td>
<td># of siblings / spouses aboard the Titanic</td>
<td></td>
</tr>
<tr>
<td>parch</td>
<td># of parents / children aboard the Titanic</td>
<td></td>
</tr>
<tr>
<td>ticket</td>
<td>Ticket number</td>
<td></td>
</tr>
<tr>
<td>fare</td>
<td>Passenger fare</td>
<td></td>
</tr>
<tr>
<td>cabin</td>
<td>Cabin number</td>
<td></td>
</tr>
<tr>
<td>embarked</td>
<td>Port of Embarkation</td>
<td>C = Cherbourg, Q = Queenstown, S = Southampton</td>
</tr>
</tbody>
</table>

In [ ]:
#@title Step 3. Python

# Get the data to Python environment
df=pd.DataFrame(project_data)
print(df.head())

   Survived  Pclass   Age
0         0       3  22.0
1         1       1  38.0
2         1       3  26.0
3         1       1  35.0
4         0       3  35.0

In [ ]:
print("=== Basic Info ===")
print(df.info())

print("\n=== Summary Statistics ===")
print(df.describe())


print("\n=== Missing Values ===")
print(df.isnull().sum())

=== Basic Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB
None

=== Summary Statistics ===
         Survived      Pclass         Age
count  891.000000  891.000000  714.000000
mean     0.383838    2.308642   29.699118
std      0.486592    0.836071   14.526497
min      0.000000    1.000000    0.420000
25%      0.000000    2.000000   20.125000
50%      0.000000    3.000000   28.000000
75%      1.000000    3.000000   38.000000
max      1.000000    3.000000   80.000000

=== Missing Values ===
Survived      0
Pclass        0
Age         177
dtype: int64

In [ ]:
#Calculate the mean of the Age Column
age_mean=df['Age'].mean()

#Replace misisng values in the age columnn with the mean

df['Age'] = df['Age'].fillna(age_mean)

#Verify that there are no missing values in the Age column
print(df['Age'].isnull().sum())

0

In [ ]:
#Round the values in the Age Column
df['Age']= df['Age'].round()

#Display Summary Statistics
print(df.describe())

         Survived      Pclass         Age
count  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.754209
std      0.486592    0.836071   13.000828
min      0.000000    1.000000    0.000000
25%      0.000000    2.000000   22.000000
50%      0.000000    3.000000   30.000000
75%      1.000000    3.000000   35.000000
max      1.000000    3.000000   80.000000

In [ ]:
# Define the conditions
conditions = [
    (df['Age'] <= 14),
    (df['Age'] >= 15) & (df['Age'] <= 64),
    (df['Age'] >= 65)
]

# Define the corresponding category labels
categories = ['Children', 'Youth & Adults', 'Seniors']

df['age_category'] = np.select(conditions, categories, default='Unknown')

# Display first few rows to check
print(df.head(10))
print(df['age_category'].value_counts())

   Survived  Pclass   Age    age_category
0         0       3  22.0  Youth & Adults
1         1       1  38.0  Youth & Adults
2         1       3  26.0  Youth & Adults
3         1       1  35.0  Youth & Adults
4         0       3  35.0  Youth & Adults
5         0       3  30.0  Youth & Adults
6         0       1  54.0  Youth & Adults
7         0       3   2.0        Children
8         1       3  27.0  Youth & Adults
9         1       2  14.0        Children
age_category
Youth & Adults    802
Children           78
Seniors            11
Name: count, dtype: int64

In [ ]:
#Export the DataFrame to an Excel file
df.to_excel('output.xlsx',index=False)

print('\n Data has been exported to output.xlsx')

 Data has been exported to output.xlsx

In [ ]:
#@title Tableau Dashboard
from IPython.display import HTML

HTML("""
<div class='tableauPlaceholder' id='viz1760373727104' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QZ&#47;QZJ45DKH9&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;QZJ45DKH9' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;QZ&#47;QZJ45DKH9&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1760373727104');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} else { vizElement.style.width='100%';vizElement.style.minHeight='1400px';vizElement.style.maxHeight=(divElement.offsetWidth*1.77)+'px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
""")

[Link Tableau](https://public.tableau.com/shared/QZJ45DKH9?:display_count=n&:origin=viz_share_link)

**Goal**:
See if survival rate had anything to do with the passenger class, Also assess the age of the passengers within each class to identify vulnerable age categories.

**Assessment**:
The data analytics dashboard reveals significant differences in survival rates among various passenger classes on the Titanic. When examining the survival percentages, a substantial disparity is evident. First-class passengers had almost three times the survival rate compared to third-class passengers. This underscores the importance of analyzing survival percentages rather than merely the total number of survivors.

For first-class passengers, the survival rate is approximately 60%. However, when considering the percentage of survivors within each class, the rate is notably higher, emphasizing the critical need to differentiate between overall survival rates and class-specific survival percentages.

Age also played a significant role in survival outcomes. Second-class children had a 100% survival rate, compared to 80% for first-class and 40% for third-class children. No seniors survived in the second and third classes, while only 17% (one individual) survived in the first class. It is essential to conduct a deeper statistical analysis for the first class result to determine if this survival rate among seniors is statistically significant or due to chance.